<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Email Activation</title>

    <link rel="stylesheet" href="./adminlogin.css">
</head>
<body>
    <section class="side">
        <img src="./images/img.svg" alt="">
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Activate Your Email</p>
            <div class="separator"></div>
            <p class="welcome-message"> Please check your mail for an activation link and verify your mail </p>

                <button class="submit"> Resend Link </button>
            </form>
        </div>
    </section>
    
</body>
</html>
