<!DOCTYPE html> 
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>

     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" href=" {% static "manager/assign-rating-table.css" %} ">
</head>
<body>
    <div class="container">

        
        <!-- Beginning of Aside or Side Bar -->
        <aside>
            <div class="top">
                <div class="logo">
                    
                    <h2> Labade <br/> <span class="danger" > Communications </span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                   <span class="material-icons-sharp"> dashboard </span>
                   <h3> Dashboard </h3>
                </a>
                <a href="{% url "hrms:manager_members"%}">
                   <span class="material-icons-sharp"> person_outline </span>
                   <h3> Members </h3>
                </a>
                <a href=" {% url "hrms:evaluation"%} ">
                   <span class="material-icons-sharp"> speaker_group </span>
                   <h3> KPI Evalutation </h3>
                </a>
                <a href=" {% url "hrms:manager_report"%} ">
                   <span class="material-icons-sharp"> settings </span>
                   <h3> Report </h3>
                </a>
                <a href=" {% url "hrms:assign_rating"%} ">
                   <span class="material-icons-sharp"> insights </span>
                   <h3> Employee Ratings </h3>
                </a>
                <a href=" {% url "hrms:manager_message"%} ">
                   <span class="material-icons-sharp"> question_answer </span>
                   <h3> Messages </h3>
                   <span class="message-count"> {{task_total}} </span>
                </a>
   
                <a href=" {% url "hrms:create_project"%} ">
                   <span class="material-icons-sharp"> inventory </span>
                   <h3> Assign Deliverables </h3>
                </a>
                
       
           
                <a href=" {% url "hrms:manager_logout" %} ">
                   <span class="material-icons-sharp"> logout </span>
                   <h3> Logout </h3>
                </a>
           </div>
        </aside>
         <!-- End of Aside or Side Bar -->

      
         <!-- End of Aside or Side Bar -->

          <!-- Beginning of Main Body -->

          <main>
              <h1> Employee's Rating </h1>

              <div class="insights">

                  <!-- END OF Quick details -->

                
               

                  <!-- END OF EMPLOYEE ANALYTICS -->

                  
                <!-- BEGINNING OF PROJECT ANALYTICS -->
              

                  <!-- END OF PROJECT ANALYTICS -->
              </div>

              <div class="employee-quick-details-assign-rating">
                <h2> Table </h2>
                <table>
                    <thead>
                        <tr>
                            <th style="padding: 15px;" > Employee name </th>
                            <th style="padding: 15px;" > Project Name </th>
                            <th style="padding: 15px;" > Project Description </th>
                            <th style="padding: 15px;" > Project Rating </th>
                            <th style="padding: 15px;" > Week </th>
                            <th style="padding: 15px;" > Supervisor Remark </th>
                            <th style="padding: 15px;" > Approved </th>
                            <th style="padding: 15px;" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td> {{project.mkpd.employee | upper}} </td>
                            <td> {{project.mkpd.name}} </td>
                            <td> {{project.mkpd.description}} </td>
                            <td> {{project.score}} </td>
                            <td> {{project.week}} </td>
                            <td> {{project.remark}} </td>
                            <td> {{project.approved}} </td>  
                                
                        <tr>
                            {% endfor%}
                            <!-- <td> Joshua Abanjo </td>
                            <td>MID34 Daily Delivery </td>
                            <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" weight ">
                            </div></td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" good">
                            </div></td>
                            <td> <a href="#"> Done </a></td>
                        </tr>
                        <tr>
                          <td> David adeleke </td>
                          <td>MID34 Daily Delivery </td>
                          <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                          <td> <div class="form-control">
                              <input type="text" placeholder=" weight ">
                          </div></td>
                          <td> <div class="form-control">
                              <input type="text" placeholder=" good">
                          </div></td>
                          <td> <a href="#"> Done </a></td>
                      </tr>
                      <tr>
                          <td> Kenneth ato </td>
                          <td>MID34 Daily Delivery </td>
                            <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" weight ">
                            </div></td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" good">
                            </div></td>
                            <td> <a href="#"> Done </a></td> -->
                      </tr>
                      <!-- <tr>
                          <td> Angel ogbonna </td>
                          <td>MID34 Daily Delivery </td>
                            <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" weight ">
                            </div></td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" good">
                            </div></td>
                            <td> <a href="#"> Done </a></td>
                      </tr>
                      <tr>
                          <td> John doe </td>
                          <td>MID34 Daily Delivery </td>
                            <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" weight ">
                            </div></td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" good">
                            </div></td>
                            <td> <a href="#"> Done </a></td>
                      </tr>
                      <tr>
                          <td> Hillary ken </td>
                          <td>MID34 Daily Delivery </td>
                            <td> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia quibusdam voluptatum, quia ad labore rem voluptatibus totam provident ipsum. Libero soluta hic eum voluptates, saepe quod optio iusto dicta inventore! </td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" weight ">
                            </div></td>
                            <td> <div class="form-control">
                                <input type="text" placeholder=" good">
                            </div></td>
                            <td> <a href="#"> Done </a></td>
                      </tr> -->
                    </tbody>
                </table>

                
            </div>


          </main>
           <!-- End of Main Body -->
        
        
    </div>

    <!-- <script src="./admindashboard.js"></script> -->
    <script src=" {% static "admin/admindashboard.js"%} "></script>
</body>
</html>