<!DOCTYPE html>
{% extends "hrms/manager/base.html"%}

{% load static %}

{% block body_block %}


          <!-- Beginning of Main Body -->

          <main>
            <h1> Dashboard </h1>

            <div class="insights">

              <!-- BEGINNING OF Quick Details -->
                <div class="company-analytics">
                  <span class="material-icons-sharp"> stacked_line_chart </span>
                  <div class="middle">
                      <div class="left">
                          <h3> {{manager.dept_name}} </h3>
                          <h5> No of Members </h5>
                      </div>
                      <div class="progress">
                          <svg>
                              <circle cx="38" CY="38" R='36' ></circle>
                          </svg>
                          <div class="number">
                              <!-- <p>100</p> -->
                              {{staff_total}}
                          </div>
                      </div>
                  </div>
                  <small class="text-muted"> Till Date </small>
                </div>

                <!-- END OF Quick details -->

                
              <!-- BEGINNING OF EMPLOYEE ANALYTICS -->
              <div class="employee-analytics">
                  <span class="material-icons-sharp"> bar_chart </span>
                  <div class="middle">
                      <div class="left">
                          <h3> Projects </h3>
                          <h5> No of Projects </h5>
                      </div>
                      <div class="progress">
                          <svg>
                              <circle cx="38" CY="38" R='36' ></circle>
                          </svg>
                          <div class="number">
                              <!-- <p>30</p> -->
                              {{skpd_count}}
                          </div>
                      </div>
                  </div>
                  <small class="text-muted"> project count </small>
                </div>

                <!-- END OF EMPLOYEE ANALYTICS -->

                
              <!-- BEGINNING OF PROJECT ANALYTICS -->
            

                <!-- END OF PROJECT ANALYTICS -->
            </div>

            <div class="employee-quick-details">
                <h2> Members of {{manager.dept_name}} Department </h2>
                <table>
                    <thead>
                        <tr>
                            <th> Employee name </th>
                            <th> Employee Type </th>
                            <th> Station </th>
                            <th> Unit </th>
                            <th> Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for staff in staffs %}
                        <tr>
                            <td> {{staff.first_name}} {{staff.last_name}} </td>
                            <td> {{staff.employee_type.employee_type}} </td>
                            <td> {{staff.station.station_name}} </td>
                            <td> {{staff.unit.unit_id}} </td>
                            <td> {{staff.position.position}} </td>
                        </tr>
                        <!-- <tr>
                          <td> David adeleke </td>
                          <td>MID34 Daily Delivery </td>
                          <td> 202201 </td>
                          <td class="warning"> Good </td>
                      </tr>
                      <tr>
                          <td> Kenneth ato </td>
                          <td>MID34 Daily Delivery </td>
                          <td> 202201 </td>
                          <td class="danger"> Needs Improvement </td>
                      </tr>
                      <tr>
                          <td> Angel ogbonna </td>
                          <td>MID34 Daily Delivery </td>
                          <td> 202201 </td>
                          <td class="success"> Excellent </td>
                      </tr>
                      <tr>
                          <td> John doe </td>
                          <td>MID34 Daily Delivery </td>
                          <td> 202201 </td>
                          <td class="success"> Excellent </td>
                      </tr>
                      <tr>
                          <td> Hillary ken </td>
                          <td>MID34 Daily Delivery </td>
                          <td> 202201 </td>
                          <td> class="warning"> Good </td>
                      </tr> -->
                      {% endfor %}
                    </tbody>
                </table>
                <a href="#"> Show All </a>
            </div>
        </main>
         <!-- End of Main Body -->

         <div class="right">
             <div class="top">
                 <button id="menu-btn">
                  <span class="material-icons-sharp">menu</span>
                 </button>
                 <div class="theme-toggler">
                  <span class="material-icons-sharp active"> light_mode </span>
                  <span class="material-icons-sharp"> dark_mode </span>
                 </div>
                 <div class="profile">
                     <div class="info">
                         <!-- <p>Hey, <b>Anthony</b></p> -->
                         <p>Hey, <b> {{manager.head_of_dept.first_name}} </b></p>
                         <small class="text-muted">Manager</small>
                     </div>
                     <div class="profile-photo">
                      <img src=" {{manager.head_of_dept.thumb.url}} " alt="">

                     </div>
                 </div>
             </div>

             <div class="recent-updates">
                 <h2>Recent Updates</h2>
                       <div class="updates">
                           <div class="update">
                               <div class="profile-photo">
                                  <!-- <img src="./images/profile-2.jpg" alt=""> -->
                                  <img src=" {% static "manager/images/profile-2.jpg"%} " alt="">

                               </div>
                               <div class="message">
                                   <p><b>Angela Ogbion</b> just completed the daily task </p>
                                   <small class="text-muted"> 1 minute ago </small>
                               </div>
                           </div>
                           <div class="update">
                              <div class="profile-photo">
                                  <!-- <img src="./images/profile-3.jpg" alt=""> -->
                                  <img src=" {% static "manager/images/profile-3.jpg"%} " alt="">

                              </div>
                              <div class="message">
                                  <p><b>Angela Ogbion</b> just completed the daily task </p>
                                  <small class="text-muted"> 1 minute ago </small>
                              </div>
                          </div>
                          <div class="update">
                              <div class="profile-photo">
                                  <!-- <img src="./images/profile-4.jpg" alt=""> -->
                                  <img src=" {% static "manager/images/profile-4.jpg"%} " alt="">

                              </div>
                              <div class="message">
                                  <p><b>Angela Ogbion</b> just completed the daily task </p>
                                  <small class="text-muted"> 1 minute ago </small>
                              </div>
                          </div>
                       </div>
             </div>

             <!-- ----------------- END OF RECENT UPDATES ------------------------->
             <div class="department-analytics">
                 <h2> Recent Analytics</h2>
                 <div class=" item logistics">
                     <div class="icon">
                      <span class="material-icons-sharp"> sync_alt </span>
                     </div>
                     <div class="right">
                         <div class="info">
                             <h3> PROJECT NAME </h3>
                             <small class="text-muted"> Johnson abel </small>
                         </div>
                         <h5 class="success"> +39% </h5>
                     </div>
                 </div>
                 <div class=" item resource">
                  <div class="icon">
                      <span class="material-icons-sharp">language</span>
                     </div>
                     <div class="right">
                         <div class="info">
                             <h3> SENDING MEMO </h3>
                             <small class="text-muted"> Kenneth dambe </small>
                         </div>
                         <h5 class="success"> +30% </h5>
                     </div>
                 </div>
                 <div class=" item finance">
                  <div class="icon">
                      <span class="material-icons-sharp"> price_change</span>
                     </div>
                     <div class="right">
                         <div class="info">
                             <h3> CHG THG </h3>
                             <small class="text-muted"> Raymond elliot </small>
                         </div>
                         <h5 class="success"> +12% </h5>
                     </div>
                 </div>
             </div>
         </div>




{% endblock %}