<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>

     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- <link rel="stylesheet" href="./managerdashboard.css"> -->
    <link rel="stylesheet" href=" {% static "admin/managerdashboard.css"%} ">

</head>
<body>
    <div class="container">

              <!-- Beginning of Aside or Side Bar -->
              <aside>
                <div class="top">
                    <div class="logo">
                        
                        <h2> Labade <br/> <span class="danger" > Communications </span></h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">close </span>
                    </div>
                </div>
    
                <div class="sidebar">
                     <a href="{% url "hrms:manager_dashboard"%}" class="active">
                        <span class="material-icons-sharp"> dashboard </span>
                        <h3> Dashboard </h3>
                     </a>
                     <a href="{% url "hrms:manager_members"%}">
                        <span class="material-icons-sharp"> person_outline </span>
                        <h3> Employees </h3>
                     </a>
                     <a href=" {% url "hrms:eva_all"%} ">
                        <span class="material-icons-sharp"> speaker_group </span>
                        <h3> KPI Evalutation </h3>
                     </a>
                     <a href=" {% url "hrms:manager_report"%} ">
                        <span class="material-icons-sharp"> settings </span>
                        <h3> Report </h3>
                     </a>
   
               
    
                     <a href=" {% url "hrms:skpd_new"%} ">
                        <span class="material-icons-sharp"> inventory </span>
                        <h3> Assign Delivables </h3>
                     </a>
                   
                
                     <a href=" {% url "hrms:manager_logout" %} ">
                        <span class="material-icons-sharp"> logout </span>
                        <h3> Logout </h3>
                     </a>
                </div>
            </aside>
             <!-- End of Aside or Side Bar -->

          <!-- Beginning of Main Body -->

          <main>
              <h1> Employees </h1>

        

              <div class="employee-quick-details">
                  <h2> All Employees </h2>
                  <table>
                    <thead>
                        <tr>
                            <th> Employee name </th>
                            <th> Employee Type </th>
                            <th> Station </th>
                            <th> Unit </th>
                            <th> Position</th>
                            <th></th>
                        </tr>
                    </thead>
                      <tbody>
                        {% for staff in staffs %}
                        <tr>
                            <td> {{staff.employee.first_name}} {{staff.employee.last_name}} </td>
                            <td> {{staff.employee_type.employeetype}} </td>
                            <td> {{staff.station.station_name}} </td>
                            <td> {{staff.unit.unit_name}} </td>
                            <td> {{staff.position.position}} </td>
                        </tr>
           
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
          </main>
           <!-- End of Main Body -->

           <div class="button-container">
            <button style="margin: 25px; border-radius: 5px; cursor: pointer; color: blue;" class="button-update"> <a href="{% url 'hrms:manager_dashboard' %}" > Cancel </a> </button>
        </div>

           <div class="right">
               <div class="top">
                   <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                   </button>
                   <div class="theme-toggler">
                    <span class="material-icons-sharp active"> light_mode </span>
                    <span class="material-icons-sharp"> dark_mode </span>
                   </div>
                   <div class="profile">
                    <div class="info">
                        <!-- <p>Hey, <b>Anthony</b></p> -->
                        <p>Hey, <b> {{manager.head_of_dept.first_name}} </b></p>
                        <small class="text-muted">Manager</small>
                    </div>
                    <div class="profile-photo">
                     <img src=" {{manager.head_of_dept.thumb.url}} " alt="">

                    </div>
                </div>
               </div>

           </div>
    </div>
    
    <script src=" {% static "admin/admindashboard.js"%} "></script>

    <!-- <script src="./admindashboard.js"></script> -->
</body>
</html>