<!DOCTYPE html>
{% extends "hrms/manager/base.html"%}


{% block body_block %}


<!-- Beginning of Main Body -->

<main>
    <h1> Reports </h1>

    <div class="insights">

      <!-- BEGINNING OF EMPLOYEE ANALYTICS -->
      <div class="employee-analytics">
          <span class="material-icons-sharp"> bar_chart </span>
          <div class="middle">
              <div class="left">
                  <h3> KPI Evaluations </h3>
                  <h5> No of KPI Evaluations </h5>
              </div>
              <div class="progress">
                  <svg>
                      <circle cx="38" CY="38" R='36' ></circle>
                  </svg>
                  <div class="number">
                      <p> {{kpi_count}} </p>
                  </div>
              </div>
          </div>
          <small class="text-muted"> kpi count </small>
        </div>

        <!-- END OF EMPLOYEE ANALYTICS -->

        <!-- END OF Quick details -->

        
     

        <!-- END OF EMPLOYEE ANALYTICS -->

        
      <!-- BEGINNING OF PROJECT ANALYTICS -->
    

        <!-- END OF PROJECT ANALYTICS -->
    </div>

    <div class="employee-quick-details">
      <h2> Monthly KPI Reports </h2>
      <table>
          <thead>
              <tr>
                  <th> S/N </th>
                  <th> Name </th>
                  <th> GL </th>
                  <th> Position </th>
                  <th> Supervisor </th>
                  <!-- <th> HR Score </th> -->
                  <th> Final Avg Score </th>
                  <th> Station </th>
                  <th> ED Comment </th>
                  <th> Final Verdict</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {% for employee in employees %}
                  
              <tr>
                  <td>{{employee.employ_id}}</td>
                  <td> {{employee.employee.first_name}} {{employee.employee.last_name}}  </td>
                  <td> {{employee.gradelevel}} </td>
                  <td> {{employee.position}} </td>
                  <td> {{employee.department.head_of_dept}} </td>
                  <!-- <td> {{employee.total_score}} </td> -->
                  <td> {{employee.total}} </td>
                  <td> {{employee.station}} </td>

                  {% if employee.total in cond1 %}
                  <td>Excellent</td>
                  <td>No pay Cut</td>

              {% endif %}

              {% if employee.total in cond2 %}
              <td>Good</td>
              <td>No pay Cut</td>

              {% endif %}

              {% if employee.total in cond3 %}
              <td>Average</td>
              <td>5% pay Cut</td>

              {% endif %}

              {% if employee.total in cond4 %}
              <td>Below Average (Warning Only)</td>
              <td>10% pay Cut</td>

              {% endif %}

              {% if employee.total in cond5 %}
              <td>Poor (Warning with 6-month probation)</td>
              <td>15% pay Cut</td>

              {% endif %}

              {% if employee.total in cond6 %}
              <td>Vary Poor (Disengagement/Management decision)</td>
              <td>50% pay Cut</td>

              {% endif %}

             
                  <!-- <td> {{employee.score}} </td> -->
                  <td> </td>
              </tr>
          
            {% endfor %}
          </tbody>
      </table>
      <button style="margin: 25px; border-radius: 5px; cursor: pointer; background-color:blue; padding:10px" > <a href=" {% url "hrms:gen_report"%} " > Generate Report </a> </button>
  </div>
</main>
 <!-- End of Main Body -->

 <div class="right">
     <div class="top">
         <button id="menu-btn">
          <span class="material-icons-sharp">menu</span>
         </button>
         <div class="theme-toggler">
          <span class="material-icons-sharp active"> light_mode </span>
          <span class="material-icons-sharp"> dark_mode </span>
         </div>
         <div class="profile">
             <div class="info">
                 <p>Hey, <b> {{user}} </b></p>
                 <small class="text-muted">Manager</small>
             </div>
             <div class="profile-photo">
              <!-- <img src="./images/profile-1.jpg" alt=""> -->
             </div>
         </div>
     </div>

 </div>



 {% endblock %}