<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Admin Login</title>
    <!-- <link rel="stylesheet" href="./login.css"> -->
    <link rel="stylesheet" href=" {% static "register/login.css"%} ">
      <!-- <link rel="stylesheet" href="./register.css"> -->
      <link rel="stylesheet" href=" {% static "admin/managerdashboard.css"%} ">
</head>
<body>
    <section class="side">
        <!-- <img src="./images/img.svg" alt=""> -->
        <img src=" {% static "register/images/img.svg"%} " alt="">

    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Welcome Admin</p>
            <div class="separator"></div>
            <p class="welcome-message">Please, provide login credential to proceed and have access to your dashboard</p>

            <form method="POST" class="login-form">
                {%csrf_token%}

                {% if form.errors %}
                <div  class="alert alert-danger" style=" 
                position: relative;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
                color: #853025;
                background-color: #ffdfda;
                border-color: #ffd2cc;" >
                    {{form.errors}}
                </div>

                {% endif %}
                
                <div class="form-control">
                    <!-- <input type="text" placeholder="Username"> -->
                    {{form.username}}
                    <i class="fas fa-user"></i>
                </div>
              
                <div class="form-control">
                    <!-- <input type="password" placeholder="Password"> -->
                    {{form.password}}
                    <i class="fas fa-lock"></i>
                </div>

     
                <div class="button-container">
                    <button style="background-image: linear-gradient(to right, #8b33c5, #15a0e1);" type="submit" class="button-update">Login</button>
                    <button class="signup"><a style="text-decoration: none; color:#fff;" href=" {% url "hrms:index"%} ">Home</a></button>
                    <!-- <button class="signup"><a style="text-decoration: none;" href=" {% url "hrms:employee_reg"%} ">Sigup</a></button> -->
                </div>
                <div class="button-container">
                    
                <!-- <a href="#">forgot password ?</a> -->
                <!-- <a style="text-decoration: none; font-size:15px;" href=" {% url "hrms:employee_reg"%} ">Don't have an account?Register</a> -->
                
                </div>
            </form>
        </div>
    </section>
    
</body>
</html>

