
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>

     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- <link rel="stylesheet" href="./employeedashboard.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static "admin/employeedashboard.css"%} ">

</head>
<body>
    <div class="container">

             <!-- Beginning of Aside or Side Bar -->
             <aside>
                <div class="top">
                    <div class="logo">
                        
                        <h2> Daar <br/> <span class="danger" > Communications </span></h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">close </span>
                    </div>
                </div>
    
                <div class="sidebar">
                     <a href="{% url "hrms:manager_dashboard"%}" class="active">
                        <span class="material-icons-sharp"> dashboard </span>
                        <h3> Dashboard </h3>
                     </a>
                     <a href="{% url "hrms:manager_members"%}">
                        <span class="material-icons-sharp"> person_outline </span>
                        <h3> Employees </h3>
                     </a>
                     <a href=" {% url "hrms:eva_all"%} ">
                        <span class="material-icons-sharp"> speaker_group </span>
                        <h3> KPI Evalutation </h3>
                     </a>
                     <a href=" {% url "hrms:manager_report"%} ">
                        <span class="material-icons-sharp"> settings </span>
                        <h3> Report </h3>
                     </a>
         
       
                     <a href=" {% url "hrms:create_project"%}">
                        <span class="material-icons-sharp"> inventory </span>
                        <h3> Assign Deliverable </h3>
                     </a>
         
                
                     <a href=" {% url "hrms:manager_logout" %} ">
                        <span class="material-icons-sharp"> logout </span>
                        <h3> Logout </h3>
                     </a>
                </div>
            </aside>
             <!-- End of Aside or Side Bar -->

          <!-- Beginning of Main Body -->

          <main>
              <h1> Key  Performance </h1>
              <div class="login-container">
                <p class="title"> Deliverables </p>
                <div class="separator"></div>
                <p class="welcome-message"> Create Key Performance Deliverables </p>
    
                <form method="POST" class="login-form">
                    {{form.errors}}
                    {% csrf_token %}
   
                    <h3>SBU Directorate</h3>
                    <div class="form-control">
                        <!-- <input type="text" placeholder="Employee ID "> -->
                        {{form.sub_id}}
                    </div>
                    <h3>Unit</h3>
                    <div class="form-control">
                        <!-- <input type="text" placeholder="Employee ID "> -->
                        {{form.unit_id}}
                    </div>
                    <h3>Department</h3>
                    <div class="form-control">
                        <!-- <input type="text" placeholder="Employee ID "> -->
                        {{form.dept_id}}
                    </div>
                    <h3>What is expected </h3>
                    <div class="form-control">
                        <!-- <input type="text" placeholder="Employee ID "> -->
                        {{form.description}}
                    </div>

                    <div class="button-container">
                        <button class="button-update"> Submit </button>
                    </div>

                </form>
            </div>
            
          </main>
           <!-- End of Main Body -->

         
    </div>

    <!-- <script src="./admindashboard.js"></script> -->
    <script src=" {% static "admin/admindashboard.js"%} "></script>

</body>
</html>