

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>

     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
     <!-- <link rel="stylesheet" href=" {% static "employee/employeedashboard.css"%} "> -->
     <link rel="stylesheet" href=" {% static "employee/employeedashboard.css"%} ">



    <!-- <link rel="stylesheet" href="./employeedashboard.css"> -->
</head>

<body>
    <div class="container">
         <!-- Beginning of Aside or Side Bar -->
         <aside>
            <div class="top">
                <div class="logo">
                    
                    <h2> Daar <br/> <span class="danger" > Communications </span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close </span>
                </div>
            </div>

            <div class="sidebar">
                 <a href=" {% url "hrms:employee_dashboard"%}" class="active">
                    <span class="material-icons-sharp"> dashboard </span>
                    <h3> Dashboard </h3>
                 </a>
                 <a href=" {% url "hrms:employee_update" pk=employee.id %}">
                    <span class="material-icons-sharp"> person_outline </span>
                    <h3> Update Profile </h3>
                 </a>
                 <a href="#">
                    <span class="material-icons-sharp"> speaker_group </span>
                    <h3> Apply for Leave </h3>
                 </a>
                 <a href="#">
                    <span class="material-icons-sharp"> insights </span>
                    <h3> Final Analytics </h3>
                 </a>
                 <a href="#">
                    <span class="material-icons-sharp"> question_answer </span>
                    <h3> Messages </h3>
                 </a>
                 <a href=" {% url "hrms:complete_task"%} ">
                    <span class="material-icons-sharp"> inventory </span>
                    <h3> Todo Tasks </h3>
                 </a>
                 <!-- <a href="#">
                    <span class="material-icons-sharp"> logout </span>
                    <h3> Logout </h3>
                 </a> -->
                 <a href=" {% url "hrms:employee_logout"%} ">
                    <span class="material-icons-sharp"> logout </span>
                    <h3> Logout </h3>
                 </a>
            </div>
        </aside>
         <!-- End of Aside or Side Bar -->




         {% block body_block %}



         {% endblock %}




            
           
















    </div>
        
  <!-- <script src="./admindashboard.js"></script> -->
  <script src=" {% static "admin/admindashboard.js"%} "></script>

</body>
</html>