<!DOCTYPE html>

{% extends "hrms/admin/component/base.html" %}


{% block body_block %}


       <!-- Beginning of Main Body -->

       <main>
        <h1> Create New Designation </h1>
        <div class="login-container">
          <p class="title"> Designation Details </p>
          <div class="separator"></div>
          <p class="welcome-message"> Ensure to fill all fields </p>

          <form method="POST" class="login-form">
              {% csrf_token%}
              {{form.errors}}

              <div class="form-control">
                  <!-- <input type="text" placeholder="Department Name "> -->
                  {{form.gradelevel_id}}
                  <i class="fas fa-address-book"></i>
              </div>
              <h3>Grade Level</h3>
              <div class="form-control">
                  <!-- <input type="text" placeholder="Department Name "> -->
                  {{form.gradelevel}}
                  <i class="fas fa-address-book"></i>
              </div>

              <div class="button-container">
                  <button type="submit" class="button-update"> Create Grade Level </button>
              </div>
          </form>
      </div>
      
    </main>
     <!-- End of Main Body --> 



 {% endblock %}