<!DOCTYPE html>

{% extends "hrms/admin/component/comp-base.html" %}

{% block body_block %}



<main>
    <h1> Select position to Change </h1>

    <div class="button-container">
        <button class="button-update"> <a href="{% url 'hrms:position_all' %}" > Return </a> </button>
    </div>

    <div class="insights">
 

                <!-- BEGINNING OF CURRENT PROJECT/TASKS -->
        <div class="employee-analytics">
            <div class="project-name">
                <h2> {{position.position_code}} </h2>
            </div>
              <div class="middle">
                  <div style="margin: 10px;" class="left">
                      <h1> {{position.position}} </h1>
                  </div>
              
              </div>
              <div class="middle">
                <div style="margin: 10px;" class="left">
                    <h1> {{position.description}} </h1>
                </div>
            
            </div>
              <h3 style="float: right; "> <a style="color: red;" href=" {% url "hrms:position_delete" pk=position.position_code %}">Delete</a> </h3>
              <h3 > <a style="color: blue;" href=" {% url "hrms:position_update" pk=position.position_code %}">Update</a> </h3>
            </div>
    






          <!-- END OF CURRENT PROJECT/TASKS - -->
     

         <!-- END OF CURRENT PROJECT/TASKS - -->
        
    </div>
</main>
 <!-- End of Main Body -->






{% endblock %}